html{
    margin: 0px;
    padding:0px;
    height: 100%;
       
   }
header{ 
   background-image: linear-gradient(133deg, #ffffff 50%, #f6b400 0%);
} 

#nav{
   display:flex;
   padding:1% 5%;
   justify-content: space-between;
   align-items: center;
}
.top-nav{
flex:10px;
text-align: right;
}
.top-nav ul li{
list-style-type: style none;
padding:10px 30px;
text-align:right;
display:inline;
position:relative;

}
.logo{
   font-family:'Courier New', cursive;
   font-size: 10px;
   
}
.logo-text{
   color:#F6B400;
   font-size: 10px;
}
.top-nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: inline;
    position: relative;
}
.top-nav-page:after{
    content:'';
    width: 20%;
    height: 2px;
    background: #f44336;
    display:inline-flex;
    margin: auto;
}
#brief{
    display:flexbox;
    justify-content: space-around;
}
.burgs-image img{
    width: 650px;
    height: 650px;
}
.brief-info{
    margin-left: 20px;
    justify-content:space-around;
    flex-direction: column;
    align-items:center;
}

.brief-info h1{
    font-size: 70px;
}

.brief-info p{ 
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.brief-info button{
    margin-top: 30px;
    padding:10px 20px;
    text-align: center;
    background-color:  #F6B400;
    border-radius: 15px 15px 0px 15px;
    border-color: transparent;
}
