html{
    margin: 0px;
    padding:0px;
    height: 100%;
       
   }
   header{ 
      background-color: #F6B400;
  } 
      
button{
    background-color: #f6b400;
}
.tab{
    display:inline-flex;
    align-items: center;
    justify-items: space-between;
}